<br>
<table id="users" >
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email Id</th>
    <th>Username</th>
    <th></th>
    <tr *ngFor="let item of service.list">
        <td >{{item.FirstName}}</td>
        <td >{{item.LastName}}</td>
        <td >{{item.Email}}</td>
        <td >{{item.UserName}}</td>
        <td>
        <button class="btn btn-primary btn-success btn-sm " (click)="populateForm(item)">Edit</button>
      
        <button class="btn btn-primary btn-danger btn-sm " (click)="onDelete(item.Id)">Delete</button>
        </td>
           
    </tr>
</table>
