<br><br>
<table id="users" >
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email Id</th>
    <th>Username</th>
    <th></th>
    <tr *ngFor="let item of service.list">
        <td (click)="populateForm(item)">{{item.FirstName}}</td>
        <td (click)="populateForm(item)">{{item.LastName}}</td>
        <td (click)="populateForm(item)">{{item.Email}}</td>
        <td (click)="populateForm(item)">{{item.UserName}}</td>
        <td>
           <button class="btn btn-primary btn-danger btn-sm " (click)="onDelete(item.Id)">Delete</button>


        </td>
           
    </tr>
</table>
