/* You can add global styles to this file, and also import other style files */


#users {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #users td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #users tr:nth-child(even){background-color: #f2f2f2;}
  
  #users tr:hover {background-color: #ddd;cursor: pointer;}
  
  #users th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #429244;
    color: white;
  }

  .toast-custom {

    top: 70px;
    
    right: 38%;
    
    
    }

  .inputText{
    
    border: 2px solid green;
  }

 a{
   text-decoration: none;
 }


 .topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(7, 87, 18);
  color:white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgb(8, 85, 18);
  color: white;
}

.align-item{
  float: right;
}